body {
  background-color: #D0D0D0;
}

a {
	color: #0000C0;
}

p {

}
h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;

}

.skipmodal {
	background-color: black;
	position: fixed;
	color: white;
	z-index: 1;
	
	left: 0;
	top: 0;
	margin-left:99%;
	
}
.skipmodal>p>a {

	color: white;

	
}

.hidden {
	display: none;
}

.list1 {
	list-style-type: square;
}

.top-menu {
	margin-right: 5%;
	display: inline;
}

#index-menu {
	margin-left: -28px;
}